@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
}

.title {
  color: #8a8a8a;
  font-family: "Roboto", sans-serif;
}

img {
  min-width: 200px;
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 800px;
  overflow: hidden;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ece9e6;
  background: linear-gradient(to right, #ffffff, #ece9e6);
}

.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card__description {
  color: #54534f;
  margin-bottom: 0.4rem;
}

.card__content {
    padding: 0 0.5rem;
    font-size: 20px;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: 0.5rem;
}

.user__image {
  border-radius: 50%;
  max-width: 100px;
  max-height: 80px;
}

.user__info > small {
  color: #666;
}

@media screen and (max-width: 370px) {
  .user {
    flex-direction: column;
  }

  .card__footer {
    justify-content: center;
  }

  .user__info {
    align-self: center;
  }

  .user__info > h5 {
    margin-bottom: 0;
  }
}
